<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>后台管理</title>
	<div th:include="~{common :: header}"></div>
<style type="text/css">
	h1 {
		text-align: center;
		margin-top: 200px;
	}
</style>
</head>
<body>

	<div id="header">
		<img class="logo_img" alt="" th:src="@{/img/logo.gif}" >
		<span class="wel_word">后台管理系统</span>
		<div th:replace="~{common :: #manager_header}"></div>
	</div>
	
	<div id="main">
		<h1>欢迎管理员进入后台管理系统</h1>
	</div>

	<div th:replace="~{common::#bottom}"></div>
</body>
</html>